body {
  overflow-x: hidden;
}

.circle{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    position: relative;
    top: 0px;
    left: 0px;
}

.circletext{
    font-family: sans-serif;
    width: 300px;
    left: 60px;
    position:absolute;
    color: white;
    word-wrap: break-word;
}

.username{
    color:crimson;
    font-weight: bold;
}

#mainbox{
    width: 100%;
    height: 100%;
    background:#292a2d;
    position:absolute;
    top:0px;
    left:0px;
}

#mainbox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.previewbox{
  height: 200px;
  width: 700px;
  background-color: teal;
}

.previewimg{
  height: 200px;
  width: 200px;
  float:left;
}

.previewtext{
  padding: 10px 0px 10px 205px;
  color: white;
}

p {
  margin: 0px;
}

.test{
  animation: up 6.25s 233ms infinite;
  
}

.test2{
  animation: wobble 3s 275ms infinite ease-in-out;
}

@keyframes wobble1 {

  33% {
    transform: translateX(-50px);
  }
  
  66% {
    transform: translateX(50px);
  }
  
}

@keyframes wobble2 {

  33% {
    transform: translateX(50px);
  }
  
  66% {
    transform: translateX(-50px);
  }
  
}

@keyframes up {

  0% {
    opacity: 0;
  }
  
  10%, 90% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
  
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  
  10%, 90% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}