.circle{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: green;
    position: relative;
    top: 0px;
    left: 0px;
}

.circletext{
    width: 700px;
    left: 60px;
    position:absolute
}

.username{
    color:crimson;
    font-weight: bold;
}

#mainbox{
    width: 1280px;
    height: 720px;
    background:aquamarine;
    position:absolute;
    top:0px;
    left:0px;
}

.previewbox{
    height: 200px;
    width: 700px;
    background-color: teal;
  }
  
  .previewimg{
    height: 200px;
    width: 200px;
    float:left;
  }
  
  .previewtext{
    padding: 10px 0px 10px 205px;
    color: white;
  }