/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#chart {
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    top: 100px;
    left: 100px;
    background: white;
    opacity: 1;
}

#topbar {
    width: 1440px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: aquamarine;
    z-index: 0;
}


#container {
    width: 1080px;
    height: 720px;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
    opacity: 0;
}
.draggable {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
}
/*.draggable:active {*/
/*    background-color: rgba(168, 218, 220, 1.00);*/
/*}*/
.draggable:hover {
    cursor: pointer;
    background-color: rgba(168, 218, 220, 1.00);
    /*border-width: 20px;*/
}

#box {
    width: 700px;
    height: 500px;
    position: absolute;
}

#bounding {
    width: 100%;
    /* height: 500px; */
    display: flex;
    align-items: center;
}

#box3 {
    width: 100%;
    display: flex;
    align-items: center;
}
#display {
    height: 800px;
    width: 400px;
    overflow-x: auto;
    position: absolute;
    top: 500px;
    left: 500px;
    background: white;
    opacity: 1;
}
.code {
    height: 400px;
    width: 400px;
    overflow-x: auto;
    position: absolute;
    top: 500px;
    left: 500px;
    background: white;
    opacity: 1;
}

#playarea {
    width: 1080px;
    height: 720px;
    flex: 0 0 auto;
    position: absolute;
    transform: translate3d(-230px, -180px, 0px);
    border-radius: 7px;
    background-color: aquamarine;
    touch-action: none;
    user-select: none;
}


.screenshot {
    width: 60px;
    height: 40px;
}

/*video {*/
/*    -webkit-transform: scaleX(-1);*/
/*    transform: scaleX(-1);*/
/*}*/

#mainbox {
    height: 950px;
    width: 1440px;
    background-color: grey;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}
